@font-face {
    font-family: 'montserratRegular';
    src: url('../public/font/Montserrat-Regular/Montserrat-Regular.eot');
    src: url('../public/font/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../public/font/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
        url('../public/font/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserratBold';
    src: url('../public/font/Montserrat-Bold/Montserrat-Bold.eot');
    src: url('../public/font/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/font/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
        url('../public/font/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserratLight';
    src: url('../public/font/Montserrat-Light/Montserrat-Light.eot');
    src: url('../public/font/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../public/font/Montserrat-Light/Montserrat-Light.woff') format('woff'),
        url('../public/font/Montserrat-Light/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserratMedium';
    src: url('../public/font/Montserrat-Medium/Montserrat-Medium.eot');
    src: url('../public/font/Montserrat-Medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../public/font/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
        url('../public/font/Montserrat-Medium/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserratSemiBold';
    src: url('../public/font/Montserrat-SemiBold/Montserrat-SemiBold.eot');
    src: url('../public/font/Montserrat-SemiBold/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../public/font/Montserrat-SemiBold/Montserrat-SemiBold.woff') format('woff'),
        url('../public/font/Montserrat-SemiBold/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserratArmLigh';
    src: url('../public/font/Montserratarm-Light/Montserratarm-Light.eot');
    src: url('../public/font/Montserratarm-Light/Montserratarm-Light.eot?#iefix') format('embedded-opentype'),
        url('../public/font/Montserratarm-Light/Montserratarm-Light.woff') format('woff'),
        url('../public/font/Montserratarm-Light/Montserratarm-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserratArmBold';
    src: url('../public/font/Montserratarm-Bold/Montserratarm-Bold.eot');
    src: url('../public/font/Montserratarm-Bold/Montserratarm-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/font/Montserratarm-Bold/Montserratarm-Bold.woff') format('woff'),
        url('../public/font/Montserratarm-Bold/Montserratarm-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserratArmMedium';
    src: url('../public/font/Montserratarm-Medium/Montserratarm-Medium.eot');
    src: url('../public/font/Montserratarm-Medium/Montserratarm-Medium.eot?#iefix') format('embedded-opentype'),
        url('../public/font/Montserratarm-Medium/Montserratarm-Medium.woff') format('woff'),
        url('../public/font/Montserratarm-Medium/Montserratarm-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserratArmRegular';
    src: url('../public/font/Montserratarm-Regular/Montserratarm-Regular.eot');
    src: url('../public/font/Montserratarm-Regular/Montserratarm-Regular.eot?#iefix') format('embedded-opentype'),
        url('../public/font/Montserratarm-Regular/Montserratarm-Regular.woff') format('woff'),
        url('../public/font/Montserratarm-Regular/Montserratarm-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserratArmSemibold';
    src: url('../public/font/Montserratarm-SemiBold/Montserratarm-SemiBold.eot');
    src: url('../public/font/Montserratarm-SemiBold/Montserratarm-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../public/font/Montserratarm-SemiBold/Montserratarm-SemiBold.woff') format('woff'),
        url('../public/font/Montserratarm-SemiBold/Montserratarm-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    max-width: 1240px;
    width: 100%;
}

.btn {
    color: black;
    background: #7EBC0A;
    border: none;
    border-radius: 5px;
    min-height: 49px;
    min-width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 16px;
    line-height: 19.5px;
    cursor: pointer;
}

.btn::before {
    content: "";
    border-left: 1px solid #C4C4C4;
    height: 100%;
    width: 1px;
    position: absolute;
    left: -23px;
}

.btn_ucom {
    width: 194px;
    padding: 24px 32px;
    background: #7EBC0A;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 19.5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

html {
    height: 100%;
    font-size: 10px;
    line-height: 1.4286em;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    color: black;
    width: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    min-height: 100%;
    background: #fff;
    height: 100%;
    font-family: 'montserratRegular', 'montserratArmRegular';
}